# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/
.cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Production
build/
dist/
tmp/
temp/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Electron
# Build files
/out
/electron-release

# Squirrel
*.squirrel*
Installer.exe
Installer.pdb

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Shell script temporary files
*.swp
*.swo

# Other common editor/project files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/

# IDEs and editors
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Favicon
/favicon.webp

# Backup files
*.bak
*.backup
*~
